@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway|Roboto:400,700,900');
body {
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#796b7b+2,30697d+47,826b7b+100 */
background: #796b7b; /* Old browsers */
background: -moz-linear-gradient(45deg, #796b7b 2%, #30697d 47%, #826b7b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796b7b', endColorstr='#826b7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Start wrap */
.wrap {
    margin:0 auto;
    position:relative;
    max-width: 960px;
}
/*End wrap */

/*Start Header*/

header .wrap {
    min-height:1021px;
}
.header__logo {
   position: absolute;
   left: 0;
   top:92px;
}
.navigation {
    width:60px;
    height:60px;
    border:3px solid #d3d3d8;
    position: absolute;
    right:0;
    top:92px;
}

        .line1 {
            width: 40px;
            height: 0px;
            border:2px solid #f0f0f2;
            position: absolute;
            right:10px;
            top:112px;
            
        }

        .line2 {
            width: 40px;
            height: 0px;
            border:2px solid #f0f0f2;
            position: absolute;
            right:10px;
            top:124px;
            
        }
        .line3 {
            width: 40px;
            height: 0px;
            border:2px solid #f0f0f2;
            position: absolute;
            right:10px;
            top:136px;
            
        }

.header__content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    min-width:560px;
} 

        .header__title {
            padding:35px 0;
            text-transform: uppercase;
            border-top:solid #9eb4be 1px;
            border-bottom:solid #9eb4be 1px;
            font-weight: normal;
            font-family: Raleway;
            font-weight:bold;
            font-size:65px;
            letter-spacing: 8px;
            text-align: center;
        }

        .header__subtitle {
            color:#9eb4be;
            word-spacing: 5px;
            letter-spacing: 9px;
            text-align: center;
        }
@media (max-width:570px) {
    .header__content {
        min-width: 270px;
    }
}

/*End Header */

/*Start Article */
/*START INTRODUCTION */

.introduction {
    background-color: #fff;
    min-height:700px;
    font-family: Roboto;
    position:relative;
}

        .introduction__picture {
            position:absolute;
            bottom:0;
            left:0;
        }

        .introduction__description {
            position: absolute;
            right:0;
            top:170px;
            color:#7c7c7c;
            text-shadow: 0 0 0 #000;
            width:50%;
            
        }

            .introduction__title {
                font-size:18px;
                font-weight: bold;
            }

                .introduction__content1 {
                    font-size: 16px;
                }

                .introduction__content2 {
                    font-size: 16px;
                    margin-top:30px;
                    margin-bottom: 0;

                }


            .introduction__button {
                width:200px;
                height: 50px;
                background-color: #ff2b4a;
                color:#fff;
                text-decoration: none;
                border:none;
                text-align: center;
                display: inline-block;
                font-size:16px;
                margin-top:65px;
            }

    /*start responsiveintroduction here */

    /*End responsive introduction here*/

/*END INTRODUCTION */

/*START WORKING PROCESS */

.process {
    min-height: 670px;
    background-color:#f6f6f6;

}
    .process__title {
        margin:0;
    }








/*END WORKING PROCESS*/
/*End Article*/