@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway|Roboto:400,700,900');
body {
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#796b7b+2,30697d+47,826b7b+100 */
background: #796b7b; /* Old browsers */
background: -moz-linear-gradient(45deg, #796b7b 2%, #30697d 47%, #826b7b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796b7b', endColorstr='#826b7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Start wrap */
.wrap {
    margin:0 auto;
    position:relative;
    max-width: 960px;
    padding:0 16px;
}
/*End wrap */

/*Start Header*/

header .wrap {
    min-height:1021px;
}
.header__logo {
   position: absolute;
   left: 0;
   top:92px;
}
.navigation {
    width:60px;
    height:60px;
    border:3px solid #d3d3d8;
    position: absolute;
    right:0;
    top:92px;
}



    .line {
        width: 40px;
        height: 0px;
        border:2px solid #f0f0f2;
        position: absolute;
        right:7px;
        transition: 0.3s ease-in-out;
    }

        .line:nth-child(1) {  
            top:12px;
            
        }

        .line:nth-child(2) {
            top:26px;
            
        }
        .line:nth-child(3) {
            top:40px;
            
        }
            
.navigation.active .line:nth-child(2){
    opacity:0;
}

.navigation.active .line:nth-child(1){
   transform: rotate(45deg) translate(9px,9px);
}

.navigation.active .line:nth-child(3){
  transform: rotate(-45deg) translate(10px,-10px);
}

.header__content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    max-width:560px;
    width:90%;
    
} 

        .header__title {
            padding:35px 0;
            text-transform: uppercase;
            border-top:solid #9eb4be 1px;
            border-bottom:solid #9eb4be 1px;
            font-weight: normal;
            font-family: Raleway;
            font-weight:bold;
            font-size:65px;
            letter-spacing: 8px;
            text-align: center;
        }

        .header__subtitle {
            color:#9eb4be;
            word-spacing: 5px;
            letter-spacing: 7px;
            text-align: center;
        }
@media (max-width:960px) {

    .header__logo {
        left:10px;
        top:10px;
        transform: scale(0.7);
    }

    .navigation {
        right: 10px;
        transform: scale(0.7);
        top: 10px
    }


    .header__title {
        font-size:25px;
    }

    .header__subtitle {
        font-size:12px;
        margin:0 auto;
    }

    header .wrap {
        min-height: 600px;
    }
}

@media (max-width:500px) {
    header .wrap {
        min-height: 400px;
    }
}

/*End Header */

/*Start Article */
/*START INTRODUCTION */

.introduction {
    background-color: #fff;
    font-family: Roboto;
    display: flex;
    padding:40px 40px 0 40px;
}

        .introduction__picture {
         background:url(../images/mee.jpg);
         width: 40%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         margin:0;
         height: 350px;
        }

        .introduction__description {
            width:60%;
            padding:16px;
            padding-bottom: 0;
            color:#383232;
            
        }

            .introduction__title {
                font-size:18px;
                font-weight: bold;
                margin-bottom:40px;
            }

                .introduction__content1 {
                    font-size: 16px;
                    line-height: 20px;
                    margin:0;
                }

                .introduction__content2 {
                    font-size: 16px;
                    margin-top:30px;
                    margin-bottom: 0;
                    line-height: 20px;

                }


    /*start responsiveintroduction here */
@media (max-width:760px) and (min-width:470px) {
    .introduction__title {
        font-size: 15px;
        text-align: center;
    }

        .introduction__content1 {
            font-size: 12px;
        }

        .introduction__content2 {
            font-size: 12px;
        }
}

@media (max-width:469px) {
    .introduction {
        flex-direction: column;
        width:auto;
        padding:0;
    }

    .introduction__picture {
        width:auto;
        min-height: 300px;
        background-size: contain;
        margin-top:20px;
    }

    .introduction__description {
        width:auto;
    }

        .introduction__title {
            font-size: 15px;
            margin-bottom:20px;
            text-align: center;
        }

            .introduction__content1 {
                font-size: 12px;
            }

            .introduction__content2 {
                font-size: 12px;
                margin-top:15px;
            }

  
    
}
    /*End responsive introduction here*/

/*END INTRODUCTION */




/*START WORKING PROCESS */
.process {
    background-color:#f6f6f6;
    padding:125px 0;

}

    .process__description {
        font-family: Roboto;
        padding:0 16px;
    }
        .process__title {
            text-align:center;
            color:#99ddf9;
            font-weight: bold; 
            margin:0;  
            font-weight: normal;
            font-size: 37px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
        }

        .process__subtitle {
            text-align: center;
            font-weight: normal;
            color:#383232;
            color:#;
            padding-top:40px;
            margin-top:0;
            font-size:18px;
        }

    .working__process {
        display: flex;
        justify-content: space-between;
        padding: 60px 16px 0 16px;
        flex-wrap: wrap;
    }

        .working__process__box{
            background:blue;
            flex-basis: 24%;
            color:#fff;
            min-height:200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:10px;
            text-transform: uppercase;
            letter-spacing: 2px;
           
        }

            .working__process__box:nth-child(1) {
                background-color: #10c6fc;
            }

            .working__process__box:nth-child(2) {
                background-color: #835aeb;
            }

            .working__process__box:nth-child(3) {
                background-color: #002453;
            }

            .working__process__box:nth-child(4) {
                background-color: #ff2b4a;
            }

/* START RESPONSIVE FOR WORKING PROCESS*/
@media only screen and (max-width:760px) and (min-width:420px) {

    .working__process__box {
        flex-basis: 48%;
        margin:1%;
    }

    .process__title {
        font-size:28px;
    }

    .process__subtitle {
        font-size: 15px;
    }
}

@media (max-width:760px) and (min-width:470px) {
    .process {
        padding-top:30px;
    }
}

@media only screen and (max-width:419px) {

.working__process {
    padding-top:20px;
}

    .working__process__box {
        flex-basis: 100%;
        margin-top:4%;
    }

        .working__process__box:nth-child(1) {
            margin-top:0;
        }

        .working__process__box:nth-child(4) {
            margin-bottom: 10px;
        }

    .process {
        padding-top: 30px;
    }

        .process__title {
            font-size: 22px;
        }

        .process__subtitle {
            padding-top:20px;
            font-size: 12px;
        }
}



/* END RESPONSIVE FOR WORKING PROCESS*/


/*START WORK AND EDUCATION SECTION */

.info {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#796b7b+2,30697d+47,826b7b+100 */
    background: #796b7b; /* Old browsers */
    background: -moz-linear-gradient(45deg, #796b7b 2%, #30697d 47%, #826b7b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #796b7b 2%,#30697d 47%,#826b7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#796b7b', endColorstr='#826b7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: Roboto;
    }

    .info__blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color:#fff;
        padding:125px 16px 125px 16px;
    }

    li {
        list-style: none;
    }

    hr {
        padding:0 30px 0  0;
        margin:0;
    }
        
        .block {
            flex-basis: 49%;
            background-color: #5e657d;
            padding:65px 40px 40px 40px;
            
        }

            .block__title {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 20px;
                margin:0;
                padding-bottom:40px;
            }

            .block__list {
                padding:0;
                margin:0;
            }
            
                .list__item__title{
                    margin:0;
                    padding-top:30px;
                    font-weight:medium;
                    font-size:18px;
                }

                .list__item__subtitle {
                    margin:0;
                    padding:20px 0;
                    font-size: 16px;
                    color: #d1d1d8;
                    font-weight: normal;
                }

                    .list__item__subtitle span {
                        text-transform: uppercase;
                    }

                .list__item__description {
                    margin:0;
                    padding-bottom: 30px;
                    font-size: 15px;
                    color: #d1d1d8;
                    font-weight: normal;
                }

                






    /*END WORK AND EDUCATION SECTION */




        








/*END WORKING PROCESS*/
/*End Article*/